.search-user {
  width: 335px;
  height: 39px;
  border-radius: 30px;
  border: 1px solid #c9c7c7;
  background-color: rgba(255, 255, 255, 0.6);
  color: rgb(121, 118, 118);
  outline: none;
  transition: all .3s;
  font-size: 16px;
  padding: 0 20px;
  margin-right: 10px;
  transition: all 0.5s ease-in-out;
}

.search-user:focus {
  border: 1px solid #EE7656;
}